<div class="header">
  <div class="routes">
    <a 
      class="first"
      routerLink="/" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact:true}"
      >Home
    </a>
    <a 
      routerLink="/fav" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}"
      >Favorites
    </a>
  </div>
  <div class="search">
      <span routerLink="/">Giphy gifs</span>
  </div>
  <div class="auth">
      <a 
      routerLink="/auth" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}"
      >Sign in
    </a>
  </div>
</div>
    