<div class="wrapper">
    <form #f="ngForm">
      <span class="error--message" *ngIf="error">*invalid login or password</span>
      <input [ngClass]="{'errorLogin' : error}" type="text" placeholder="Login" name="login" required ngModel>
      <input [ngClass]="{'errorLogin' : error}" type="password" placeholder="Password" name="password" required ngModel>
      <button 
        type="submit" 
        class="submitButton"
        [class.invalid--submit]="!form.valid" 
        [disabled]="!form.valid" 
        (click)="signin()"
      >sign in</button>
      <span class="massage">Don't have account?</span>
      <button 
        type="submit" 
        [class.invalid--submit]="!form.valid" 
        [disabled]="!form.valid"
        class="submitButton" 
        (click)="signup()"
      >sign up</button>
    </form>
</div>

