@import "src/variables.scss";

input{
    border: none;
    border-bottom: 2px solid $grey;
    font-family: $mainFont;
    line-height: 2vw;
    color: $black;
    font-weight: 600;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
input::placeholder{
    font-family: $mainFont;
    text-transform: uppercase;
    color: $black;
}
input.ng-touched.ng-invalid{
    border-bottom: 2px solid $error;
}
input.ng-untouched{
  border-bottom: 2px solid $grey;
}
input.ng-touched.ng-valid{
  border-bottom: 2px solid $grey;
}

.wrapper{
    overflow: hidden;
    flex-wrap: wrap;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-top: 5vh;
        height: 40vh;
        justify-content: space-around;
        border: 1px solid $pink;
        padding: 2vw;
        border-radius: 2vw;
        .errorLogin{
            border-bottom: 2px solid $error;
        }
        .error--message{
            text-transform: lowercase;
            text-align: center;
            color: $error;
            font-weight: 600;
        }
        .massage{
            text-transform: lowercase;
            text-align: center;
        }
        .submitButton{
            background-color: #fff;
            color: $black;
            border: 2px solid $pink;
            font-family: $mainFont;
            border-radius: 1vw;
            font-weight: 600;
            opacity: 1;
            cursor: pointer;
        }
        .invalid--submit{
            opacity: 0.5;
            cursor: default;
            background-color: #fff;
            border-color: $pink;
            color: $black;
        }
    }
}

.fontClass {
    font-size: 2vw;
}

@media only screen and (max-width: 1280px) {
    .fontClass{
        font-size: 3vw;
    }
    .wrapper{
        form{
            width: 80vw;
        }
    }
    
}
@media only screen and (max-width: 992px) {
    .fontClass{
        font-size: 4vw;
    }
}
@media only screen and (max-width: 768px) {
    .fontClass{
        font-size: 5vw;
    }
}
@media only screen and (max-width: 480px) {
    .fontClass{
        font-size: 6vw;
    }
}