.wrapper{
    display: flex;
    margin: 0 5 vw;
    margin: 0 5vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    .first{
        font-size: 25vh;
    }
}