<div class="wrapper">
  <div class="pending" *ngIf="service.pending || service.main.length === 0">
    <img src="../../assets/listloader.gif" *ngIf="service.pending" alt="">
    <i class="far fa-sad-cry fa-4x"></i>
    <span *ngIf="!service.pending && service.main.length === 0">Nothing found</span>
  </div>
  <app-gif-frame
    (click)="openFullSize(gif)"
    *ngFor="let gif of service.main" 
    [source]="gif.images.downsized.url || gif.images.original_still.url"
    [id]="gif.id"
    [likes]="checkInFavorites(gif.id)"
    >
  </app-gif-frame>
  <div *ngIf="modalToggle" class="modalToggle" (click)="closeModal()">
    <img src="{{showInModal}}" alt="">
  </div>
</div>