$pink: rgb(253, 175, 188);
$grey: rgb(54, 46, 46);
$black: rgb(22, 16, 16);
$backdrop: rgba(0, 0, 0, 0.788);
$error: rgb(197, 65, 65);

$mainFont: 'Amatic SC', cursive;
$logoFont: 'Permanent Marker', cursive;