@import "src/variables.scss";

input{
    border: none;
    border-bottom: 1px solid $grey;
    font-family: $mainFont;
    color: $black;
    font-weight: 600;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
input::placeholder{
    font-family: $mainFont;
    text-transform: uppercase;
    color: $black;
}
input.ng-touched.ng-invalid{
    border-bottom: 1px solid $error;
}
input.ng-untouched{
  border-bottom: 1px solid $grey;
}
input.ng-touched.ng-valid{
  border-bottom: 1px solid $grey;
}


.wrapper{
    overflow: hidden;
    flex-wrap: wrap;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .upload{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        .upload--button{
            border: 1px solid $pink;
            border-radius: 10vw;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0 2vw;
            i{
                color: $pink;
                margin-right: 1vw;
                cursor: pointer;
            }
            span{
                text-transform: uppercase;
            }

        }
        .upload--form{
            width: 100vw;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            form{
                border: 1px solid #fdafbc;
                border-radius: 2vw;
                min-width: 40vw;
                display: flex;
                flex-direction: column;
                height: 20vw;
                justify-content: space-around;
                padding: 0 2vw;
                .upload--file--button{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input {
                      display: block;
                      opacity: 0;
                      position: absolute;
                    }
                    label {
                      cursor: pointer;
                      color: $black;
                      font-weight: 600;
                      text-transform: uppercase;
                      border: 1px solid $pink;
                      border-radius: 24px;
                      padding: 0 2vw;
                      outline: 0 !important;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      z-index: 300;
                    }
                    .closeForm{
                        cursor: pointer;
                        z-index: 300;
                        color: $pink;
                        top: 1vw;
                        right: 34vw;
                    }
                }
                .invalid{
                    border: 1px solid $error !important;
                }
            }
            .submitButton{
                background-color: $pink;
                color: #fff;
                border-color: $pink;
                font-family: $mainFont;
                border-radius: 1vw;
                font-weight: 600;
                opacity: 1;
                cursor: pointer;
            }
            .invalid--submit{
                opacity: 0.5;
                cursor: default;
                background-color: #fff;
                border-color: $pink;
                color: $black;
            }
        }
    }

    .modalToggle{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow: auto;
        background-color: $backdrop;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .emptyList {
        margin-top: 5vh;
        text-transform: uppercase;
        i {
            color: $pink;
        }
    }

    app-upload-progress{
        position: absolute;
        border-radius: 2vw;
        min-width: 44vw;
        height: 100%;
        z-index: 500;
    }
}

.fontClass {
    font-size: 2vw;
}

@media only screen and (max-width: 1280px) {
    .fontClass{
        font-size: 3vw;
    }
    .wrapper{
        .upload{
            .upload--form{
                form{
                    width: 80vw;
                }
            }
        }
    }
    
}
@media only screen and (max-width: 992px) {
    .fontClass{
        font-size: 4vw;
    }
    .wrapper{
        .upload{
            .upload--form{
                form{
                    height: 25vw;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .fontClass{
        font-size: 5vw;
    }
    .wrapper{
        .upload{
            .upload--form{
                form{
                    height: 30vw;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .fontClass{
        font-size: 6vw;
    }
    .wrapper{
        .upload{
            .upload--form{
                form{
                    height: 35vw;
                }
            }
        }
    }
}